#clickupgrade {
    display: none;
}
#click1 {
    display: none;
}
#click2 {
    display: none;
}
#click3 {
    display: none;
}
#clicka1 {
    display: none;
}
#clickt1 {
    display: none;
}

#pennyupgrade {
    display: none;
}
#penny1 {
    display: none;
}
#penny2 {
    display: none;
}
#penny3 {
    display: none;
}
#pennyt1 {
    display: none;
}

#nickelupgrade {
    display: none;
}
#nickel1 {
    display: none;
}
#nickel2 {
    display: none;
}
#nickel3 {
    display: none;
}
#nickelt1 {
    display: none;
}

#total1 {
    display: none;
}
#total2 {
    display: none;
}
#total3 {
    display: none;
}
#total4 {
    display: none;
}
#total5 {
    display: none;
}
#total6 {
    display: none;
}
#total7 {
    display: none;
}